import(lmerTest)
import(emmeans)
import(car)

importFrom("graphics", abline, axis, boxplot, text)
importFrom("stats", AIC, BIC, aggregate, anova, aov,
           bartlett.test, coef, contr.sum, deviance,
           df.residual, fitted, lm, median, na.omit,
           pchisq, pnorm, pt, ptukey, qchisq, qqline,
           qqnorm, resid, shapiro.test, terms, vcov, sigma)
importFrom("utils", combn)
importFrom("lme4", fixef)

export(ea1, ea2, ec)
